Entidades/Controladores/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClienteById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClienteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrdersByIdCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersByIdCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrdersByIdCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersByIdClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCarsByCategoryInStore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByCategoryInStore" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCarsByCategoryInStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByCategoryInStoreResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClientes" message="tns:IService1_GetClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClientesResponse" message="tns:IService1_GetClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClienteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClienteById" message="tns:IService1_GetClienteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClienteByIdResponse" message="tns:IService1_GetClienteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByIdCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOrdersByIdCliente" message="tns:IService1_GetOrdersByIdCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOrdersByIdClienteResponse" message="tns:IService1_GetOrdersByIdCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarsByCategoryInStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCarsByCategoryInStore" message="tns:IService1_GetCarsByCategoryInStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCarsByCategoryInStoreResponse" message="tns:IService1_GetCarsByCategoryInStore_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClienteById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClienteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByIdCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOrdersByIdCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsByCategoryInStore">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCarsByCategoryInStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServicioDatos/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>