DAL/DAL/Web References/localhost/WSConexiones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CadenaConexion">
        <s:complexType />
      </s:element>
      <s:element name="CadenaConexionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CadenaConexionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Suma">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numero2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CadenaConexionSoapIn">
    <wsdl:part name="parameters" element="tns:CadenaConexion" />
  </wsdl:message>
  <wsdl:message name="CadenaConexionSoapOut">
    <wsdl:part name="parameters" element="tns:CadenaConexionResponse" />
  </wsdl:message>
  <wsdl:message name="SumaSoapIn">
    <wsdl:part name="parameters" element="tns:Suma" />
  </wsdl:message>
  <wsdl:message name="SumaSoapOut">
    <wsdl:part name="parameters" element="tns:SumaResponse" />
  </wsdl:message>
  <wsdl:portType name="WSConexionesSoap">
    <wsdl:operation name="CadenaConexion">
      <wsdl:input message="tns:CadenaConexionSoapIn" />
      <wsdl:output message="tns:CadenaConexionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Suma">
      <wsdl:input message="tns:SumaSoapIn" />
      <wsdl:output message="tns:SumaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSConexionesSoap" type="tns:WSConexionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadenaConexion">
      <soap:operation soapAction="http://tempuri.org/CadenaConexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Suma">
      <soap:operation soapAction="http://tempuri.org/Suma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSConexionesSoap12" type="tns:WSConexionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadenaConexion">
      <soap12:operation soapAction="http://tempuri.org/CadenaConexion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Suma">
      <soap12:operation soapAction="http://tempuri.org/Suma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSConexiones">
    <wsdl:port name="WSConexionesSoap" binding="tns:WSConexionesSoap">
      <soap:address location="http://localhost:52059/WebServices/WSConexiones.asmx" />
    </wsdl:port>
    <wsdl:port name="WSConexionesSoap12" binding="tns:WSConexionesSoap12">
      <soap12:address location="http://localhost:52059/WebServices/WSConexiones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>